<?xml version="1.0" encoding="utf-8"?>
<Hexx>
    <MountPoint>C:/Users/jim.maroulis/Dropbox/SFML-1.6</MountPoint>
    <BackupDirectory>C:/Users/jim.maroulis/Desktop/Backup</BackupDirectory>
    <MetadataDirectory>metadata</MetadataDirectory>
    <ScanDirectories>
        <Directory>src</Directory>
        <Directory>samples</Directory>
        <Directory>include</Directory>
    </ScanDirectories>
    <FileTypes>
        <Extention>.h</Extention>
        <Extention>.hpp</Extention>
        <Extention>.cpp</Extention>
    </FileTypes>
</Hexx>
